.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-end; /* aligns nav to the right */
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background:transparent; /* semi-transparent background */
  backdrop-filter: blur(10px);   /* adds a soft blur effect behind */
  z-index: 1000;
  transition: background 0.3s ease;
  width: 100%;
  box-sizing:border-box;
}


  
  .nav-logo {
    font-size: 1.5 rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-links li a:hover {
    color: #00ffff;
    transition: 0.3s ease;
  }


  


  